@font-face {
  font-family: 'dune-rise';
  /*a name to be used later*/
  src: url("../css/fonts/kizard.otf");
  /*URL to font*/ }

@keyframes moveInBack {
  0% {
    opacity: 0;
    transform: rotateX(100deg) translateY(10rem); }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateY(0); } }

@keyframes header {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(150rem) translateZ(0); }
  50% {
    opacity: .5;
    filter: blur(5px);
    transform: translateX(0) scale(0.5) translateZ(-40rem); }
  90% {
    opacity: .5;
    filter: blur(5px);
    transform: translateX(0) scale(0.9) translateZ(-40rem); }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) translateZ(0rem); } }

@keyframes mini {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes headerRotate {
  0% {
    transform: rotateX(2deg); }
  100% {
    transform: rotateX(-2deg); } }

@keyframes timer {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes widgets {
  0% {
    transform: translateY(-20rem); }
  100% {
    transform: translateY(0); } }

@keyframes moveOut {
  0% {
    opacity: 0;
    transform: scaleX(0); }
  100% {
    opacity: 1;
    transform: scaleX(1); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-50rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

@keyframes widgets_mob {
  0% {
    transform: translateY(-20rem); }
  100% {
    transform: translateY(0); } }

@keyframes header__mob {
  0% {
    opacity: 0;
    transform: translateX(-150rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes textMessage {
  0% {
    filter: blur(5px); }
  100% {
    filter: blur(0); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: dune-rise;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  body::-webkit-scrollbar {
    width: 0 !important; }

.heading__primary {
  font-size: 9.4rem;
  font-weight: 300;
  padding-bottom: 1rem;
  animation: moveInBack 1s linear;
  transform-origin: top; }

.heading__tertiary {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  animation: moveInBack 1s linear;
  transform-origin: top;
  letter-spacing: 1.5px; }

.about {
  position: relative;
  background-size: 100% 100vh;
  background-image: linear-gradient(to bottom, rgba(23, 60, 162, 0.597) 45%, rgba(151, 172, 255, 0.597) 135%);
  animation: header 1.5s linear,headerRotate 2s linear 4s infinite;
  width: 100%; }

.about__container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 2rem; }

.about__section {
  /** border: dashed 2px pink; **/
  position: absolute;
  top: 0;
  right: 1rem;
  width: 35rem;
  min-height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem; }
  .about__section__box {
    position: relative;
    min-height: 8rem;
    max-height: 18rem;
    border-radius: 1rem;
    margin-bottom: .8rem;
    overflow: hidden;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.06); }
    .about__section__box:nth-child(1) {
      animation: textMessage .5s linear 1.25s; }
    .about__section__box:nth-child(2) {
      animation: textMessage .5s linear 1.35s; }
    .about__section__box:nth-child(3) {
      animation: textMessage .5s linear 1.45s; }
    .about__section__box:nth-child(4) {
      animation: textMessage .5s linear 1.50s; }
  .about__section__topbar {
    height: 2.5rem;
    position: relative;
    color: black; }
  .about__section .background-blur {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute; }
  .about__section__contents {
    z-index: 100;
    position: inherit;
    font-size: 1rem; }
  .about__section__left {
    float: left;
    text-align: left;
    width: content-max;
    margin-top: 1rem;
    padding-left: 1rem; }
  .about__section__right {
    float: right;
    text-align: right;
    padding-right: 2.5rem; }
    .about__section__right .btn--close {
      margin-right: -2rem;
      margin-top: -.35rem;
      font-size: 3rem;
      border: none;
      background-color: transparent; }
      .about__section__right .btn--close:hover {
        color: red;
        transform: scale(1.1); }
  .about__section__main-content {
    padding: 2rem 2rem;
    height: content-max; }

.countdown {
  background-color: #282C35;
  height: 100vh;
  width: 105%;
  position: fixed;
  text-align: center;
  margin-left: -3rem;
  margin-top: -3rem;
  padding-top: 15rem;
  display: block;
  animation: timer 3s linear; }

#timer {
  font-size: 30rem;
  color: #36454f; }

#enter {
  font-size: 10rem;
  margin-top: 10rem;
  font-weight: 300; }

#enter span {
  opacity: 0;
  transition: all 1s linear;
  transition-delay: 1.2s;
  color: #fff; }

#enter span.anime {
  opacity: 1;
  color: #36454f; }

.outer {
  position: absolute;
  z-index: 2000;
  background: #b4b4b4;
  opacity: 0.9;
  display: block;
  width: 100%;
  top: 0%;
  padding: .5rem 0rem;
  left: 0;
  animation: widgets 1.25s linear; }
  .outer.macBar {
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #dadada));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%, #dadada 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f6f6f6 0%, #dadada 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 );
    /* IE6-9 */ }
  .outer .dot {
    display: inline-block;
    opacity: 0;
    animation: widgets 1.25s linear .5s;
    width: 1.3rem;
    height: 1.3rem;
    background: #f9f9f9;
    border-radius: 50%;
    margin-left: .5rem; }
    .outer .dot.red {
      background: #FF6057;
      border: 1px solid #E14640; }
    .outer .dot.amber {
      background: #FFBD2E;
      border: 1px solid #DFA123; }
    .outer .dot.green {
      background: #27C93F;
      border: 1px solid #1DAD2B; }

.widgets__clock {
  position: absolute;
  z-index: 20000;
  top: .39rem;
  right: 0rem;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  color: #A27BB8;
  animation: widgets 1.25s linear .5s; }
  .widgets__clock--day {
    margin-right: 2rem;
    align-self: center; }
  .widgets__clock--time {
    margin-right: 2rem;
    align-self: center; }
  .widgets__clock--icon {
    font-size: 1.5rem;
    transition: all .2s linear;
    align-self: center; }
    .widgets__clock--icon:hover {
      transform: rotateZ(366deg); }
  .widgets__clock--city {
    margin-right: 2rem;
    align-self: center; }
  .widgets__clock--temp {
    margin-right: 2rem;
    margin-top: -.1rem;
    align-self: center; }
  .widgets__clock--icon {
    margin-right: 2rem;
    align-self: center; }
    .widgets__clock--icon img {
      width: 2rem;
      height: auto; }

.whole-folder {
  display: flex;
  flex-direction: column;
  position: absolute; }
  .whole-folder .folder {
    width: var(--folder-size);
    height: calc(var(--folder-size) * 0.6);
    background-color: var(--folder-color);
    border-radius: var(--folder-radius);
    position: relative;
    top: 4rem;
    left: 3rem;
    border-top-left-radius: 0;
    cursor: pointer;
    transition: width .3s .3s, height .3s .3s;
    margin-top: 3rem; }
  .whole-folder .folder, .whole-folder .folder::before {
    box-shadow: var(--folder-shadow);
    -webkit-box-shadow: var(--folder-shadow);
    -moz-box-shadow: var(--folder-shadow); }
  .whole-folder .folder::before, .whole-folder .folder::after {
    position: absolute;
    content: '';
    background-color: var(--folder-color); }
  .whole-folder .folder::before {
    width: calc(var(--folder-size) / 3);
    height: calc(var(--folder-size) / 10);
    top: calc(0px - (var(--folder-size) / 10 / 1.5));
    border-top-left-radius: var(--folder-radius);
    border-top-right-radius: var(--folder-radius);
    z-index: -1;
    transition: width .3s .3s, height .3s .3s, top .3s .3s; }
  .whole-folder .folder::after {
    background-color: #191919;
    width: 100%;
    height: 100%;
    border-radius: var(--folder-radius);
    transform-origin: bottom right;
    transition: transform .3s; }
  .whole-folder .folder:hover::after {
    transform: skew(-10deg) scaleY(0.85); }
  .whole-folder .text {
    text-align: center; }
  .whole-folder .folder.open > .feuille::after {
    content: '';
    position: absolute;
    background-color: var(--folder-color-open);
    top: -7px;
    right: -7px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg); }
  .whole-folder .folder.open > .feuille::before {
    content: '';
    position: absolute;
    background-color: #5a5a5a;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px; }
  .whole-folder .folder.open::after {
    opacity: 0;
    transform: skew(0deg) scaleY(0); }
  .whole-folder .folder.open::before {
    width: 100%;
    background-color: #1D1E22;
    height: 30px;
    top: -30px; }
  .whole-folder .feuille {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    border-radius: var(--folder-radius);
    transform: scaleX(0.95) scaleY(0.8);
    transform-origin: bottom;
    transition: transform .3s;
    opacity: 0; }
  .whole-folder .folder:not(.open):hover > .feuille {
    transform: scaleX(0.95) scaleY(0.95);
    opacity: 1; }

@keyframes comeon {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.window {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1000;
  display: none; }
  .window__winhead {
    height: 35px;
    background: #f4f4f4;
    border-bottom: 0.5px solid rgba(162, 163, 164, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    position: relative; }
    .window__winhead__btn {
      display: flex;
      align-items: center;
      z-index: 9; }
      .window__winhead__btn--close {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        background: #e74546;
        border: 0.5px solid #d04343; }
      .window__winhead__btn--min {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        background: #f6b427;
        border: 0.5px solid #d49a3a; }
      .window__winhead__btn--max {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        border: 0.5px solid #68f840;
        background: #56ca35; }
    .window__winhead__title {
      position: absolute;
      width: 100%;
      text-align: center; }
  .window__winbody {
    height: 100%;
    background: #e7e7e7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 300px;
    text-align: center; }

.window2 {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: 1000;
  display: none; }
  .window2__winhead {
    height: 35px;
    background: #f4f4f4;
    border-bottom: 0.5px solid rgba(162, 163, 164, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    position: relative; }
    .window2__winhead__btn {
      display: flex;
      align-items: center;
      z-index: 9; }
      .window2__winhead__btn--close {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        background: #e74546;
        border: 0.5px solid #d04343; }
      .window2__winhead__btn--min {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        background: #f6b427;
        border: 0.5px solid #d49a3a; }
      .window2__winhead__btn--max {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        border: 0.5px solid #68f840;
        background: #56ca35; }
    .window2__winhead__title {
      position: absolute;
      width: 100%;
      text-align: center; }
  .window2__winbody {
    height: 100%;
    background: #e7e7e7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 300px;
    text-align: center; }

.window3 {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  top: 35%;
  left: 20%;
  z-index: 1000;
  display: none; }
  .window3__winhead {
    height: 35px;
    background: #f4f4f4;
    border-bottom: 0.5px solid rgba(162, 163, 164, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    position: relative; }
    .window3__winhead__btn {
      display: flex;
      align-items: center;
      z-index: 9; }
      .window3__winhead__btn--close {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        background: #e74546;
        border: 0.5px solid #d04343; }
      .window3__winhead__btn--min {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        background: #f6b427;
        border: 0.5px solid #d49a3a; }
      .window3__winhead__btn--max {
        width: 12px;
        height: 12px;
        margin-left: 6px;
        border-radius: 50%;
        border: 0.5px solid #68f840;
        background: #56ca35; }
    .window3__winhead__title {
      position: absolute;
      width: 100%;
      text-align: center; }
  .window3__winbody {
    height: 100%;
    background: #e7e7e7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 300px;
    text-align: center; }

.max {
  width: 90%;
  height: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 1000; }

.hide {
  display: none; }

.show {
  display: block; }

#mainWindow.custom-state-active {
  background: #eee; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2500;
  top: 0%;
  left: 0%;
  background-color: #111111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: red; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.closeNav {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 1%;
  transition: all .2s linear; }
  .closeNav:hover {
    transform: scaleX(1.4) scaleY(1.2);
    color: green; }

.header {
  background-image: linear-gradient(to bottom, rgba(23, 60, 162, 0.597) 45%, rgba(151, 172, 255, 0.597) 135%);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  height: 100vh;
  animation: header 1.5s linear,headerRotate 2s linear 4s infinite;
  width: 100%;
  display: none; }
  .header__textbox {
    color: white;
    text-rendering: geometricPrecision;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%); }

:root {
  --color:#000;
  --main-bg-color: #444757;
  --folder-size: 120px;
  --folder-size-open: 400px;
  --folder-color: #1D1E22;
  --folder-color-open: #191919;
  --folder-radius: 8px;
  --folder-shadow: 3px 5px 5px 0px rgb(37 37 37 / 75%);
  --folder-button-size: 15px; }

.nav {
  position: fixed;
  z-index: 10;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem 3rem;
  border-radius: 15px;
  background-blend-mode: color;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -10%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  display: inline-block; }
  .nav::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: transparent;
    border-radius: 15px;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: moveOut .75s linear; }
  .nav__list {
    list-style-type: none;
    text-align: center;
    z-index: 20;
    opacity: 1; }
  .nav__listItem {
    display: inline-block;
    font-size: 1.4rem;
    z-index: 20;
    margin-top: .5rem; }
    .nav__listItem:not(:last-child) {
      margin-right: 2.5rem; }
  .nav__links:link, .nav__links:visited {
    text-decoration: none;
    color: white;
    transition: all .1s linear;
    z-index: 20; }
  .nav__links:hover, .nav__links:active {
    border-bottom: 2px solid white;
    z-index: 20; }

@media screen and (max-width: 860px) {
  .about__container {
    display: none; }
  body {
    padding: 0 0; }
  .countdown {
    margin-left: 0;
    margin-top: 0; }
  .widgets__clock {
    position: absolute;
    left: 1rem;
    display: inline-block;
    text-align: end;
    width: 90%;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    color: #A27BB8;
    animation: widgets_mob 1.25s linear .5s; }
  .section-about {
    height: 100vh;
    width: 100%; }
  .header {
    animation: header__mob 1.5s linear;
    height: 100vh; } }

.heading__primary {
  font-size: 7.5rem; }

@media screen and (max-width: 720px) {
  .nav {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 45%; }
    .nav__listItem {
      font-size: 1rem; }
      .nav__listItem:not(:last-child) {
        margin-right: 2.5rem; } }

@media screen and (max-width: 720px) {
  .nav {
    width: 60%; } }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.navigation {
  display: none;
  animation: nav 1.25s linear .5s;
  z-index: 100000; }

.section-about {
  display: none;
  position: fixed; }
