
@media screen and (max-width: 860px) {
    .about__container{
        display: none; 
    }
    .whole-folder{
      width: 100%;
    }
    .window7{
      margin-top: 12%;
    }
    .window6{
      margin-top: 12%;
    }
    .folder-name{
        display: block;
    }
    .openFolder{
        display:block;
        width:98%;
      height:80vh;
        position:absolute;
        top:15%;
        z-index: 10000;
        left: 1%;
    }
    .popup{
        height: 90vh;
        top: 5%;
    }
    .popup__chat-image{
        position: absolute;
      top: 50%;
      left:50%;
      
      transform: translate(-50%,-50%);
      border-radius: 5px;
      width: 80%;
      height: 70%;
    }
    .popup2{
        height: 90vh;
        top: 5%;
    }
    .popup2__chat-image{
        position: absolute;
      top: 50%;
      left:50%;
      
      transform: translate(-50%,-50%);
      border-radius: 5px;
      width: 80%;
      height: 70%;
    }

    .window5__winbody--intro{
        width: 100%;
    }
    .openFolder1{
        display:block;
        width:98%;
      height:80vh;
        position:absolute;
        top:15%;
        z-index: 1000000;
        left:1%;
      }
    .whole-folder{
        width: 100%;

    }
    .folder-structure{
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      .name2{
        position: absolute;
        z-index: 1000000;
        top: 27.5rem;
        left:4.4rem;
        
            text-align: center;
            }
            .picture{
                margin-left: 1.2rem;
            }
    body{
        padding: 0 0;
    }
    .countdown{
        margin-left: 0;
        margin-top: 0;
    }
  
  .logo{
    display: none;
  }
  .window4__winhead__btn--min{
    display: none;
  }
  .window4__winhead__btn--max{
    display: none;
  }
  .window2__winhead__btn--max{
    display: none;
  }
  .window2__winhead__btn--min{
    display: none;
  }
    .widgets__clock{
        display: none;
        position: absolute;
        z-index: 1;
        top: -1%;
        height: 50px;
        left: 2.5rem;
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        color: white;

       

    }
    .window2__winbody__container{
  
        flex-wrap: wrap;
     width: 100%;
     justify-content: center;
    
    
    }
    .window2__winbody__container--images{
        width: 26%;

    }
    .widgets__weather{
        position: absolute;
        z-index: 1;
        top: -1%;
        height: 50px;
        right: 1rem;
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        color: white;

      

    }
    .header{

            
   
        

   animation: header .5s linear;
   height: 100vh;
   
        
    }
    }
    .heading__primary{
        font-size: 7.5rem;
    }
    
    


    @media screen and (max-width: 720px){
        .nav{
          position: fixed;
          bottom: 5%;
        
          left: 50%;
          transform: translate(-50%,-10%);
            width: 45%;
            
            &__listItem{
                font-size: 1rem;

                &:not(:last-child){
                    margin-right: 2.5rem;
                }
            }
        }
    }

    @media screen and (max-width: 720px){
        .nav{
            width: 60%;
        }
     
    }

    // sidebar menu
   