
@media screen and (max-width: 860px) {
    body{
        padding: 0 0;
    }
    .countdown{
        margin-left: 0;
        margin-top: 0;
    }
    .dot{

        &.red{
           opacity: 0;
        }
        &.green{
            display: none;
        }
        &.amber{
         display: none;
        }
    }
    .widgets__clock{
        position: absolute;
      
      display: inline-block;

      text-align: end;

      width: 80%;
     
      display: flex;
      flex-direction: row;
        font-size: 1.2rem;
        color: #A27BB8;

        animation: widgets_mob 1.25s linear .5s;

    }
    .header{

            
   
        

   animation: header__mob 1.5s linear;
   height: 100vh;
   
        
    }
    }
    .heading__primary{
        font-size: 7.5rem;
    }
    
    


    @media screen and (max-width: 720px){
        .nav{
          position: fixed;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%,-10%);
            width: 45%;
            
            &__listItem{
                font-size: 1rem;

                &:not(:last-child){
                    margin-right: 2.5rem;
                }
            }
        }
    }

    @media screen and (max-width: 720px){
        .nav{
            width: 60%;
        }
     
    }

    // sidebar menu
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }