
@media screen and (max-width: 860px) {
    body{
        padding: 0 0;
    }
    .countdown{
        margin-left: 0;
        margin-top: 0;
    }
    .header{
   border-radius: 0px;
   animation: header__mob 1.5s linear;
   height: 100vh;
        &__widgets__clock{
            position: absolute;
            top: 2%;
            right: .5rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            
            font-size: 1.2rem;
            color: white;
          
            animation: widgets_mob 1.25s linear .5s;
          
            
            
               
                &--day{
                    margin-right:3rem;
                    margin-bottom: .5rem;
              align-self: flex-end;
                
                    
                }
                &--time{
                    align-self: flex-end;
                    margin-right:3rem;
                    margin-bottom: .5rem;
                }
                &--icon{
                    align-self: flex-end;
                    margin-right:3rem;
                    font-size:1.5rem;
                    transition:all .2s linear;
                    
                  &:hover{
                  transform:rotateZ(360deg)
                  }
                }
        }
        &__widgets__weather{
            position: absolute;
            top: 2%;
            left: .5rem;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            
            font-size: 1.2rem;
            color: white;
          
            animation: widgets_mob 1.25s linear .5s;
           
            
            &--city{
                margin-left: 2.5rem;
                margin-bottom: .5rem;
          align-self: flex-start;
              
            }
            &--temp{
                margin-left: 2.5rem;
                margin-bottom: .5rem;
          align-self: flex-start;
                
            }
            &--icon{
                margin-left: 2.5rem;
                align-self: flex-start;
                
               img{
                color: white;
                width:2.5rem;
                height:auto;
              
              
               }
            }
        }
    }
    }
    

    @media screen and (max-width: 720px){
        .nav{
          position: fixed;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%,-10%);
            width: 45%;
            
            &__listItem{
                font-size: 1rem;

                &:not(:last-child){
                    margin-right: 2.5rem;
                }
            }
        }
    }

    @media screen and (max-width: 720px){
        .nav{
            width: 60%;
        }
    }