.work{
    position: fixed;
    animation: header .5s linear;
      width: 100%;
      height: 100vh;
      background-size: 100% 100vh;
      background-image: url('../../img/apple.jpg');
      // background-image:linear-gradient( to bottom, rgba(23, 60, 162, 0.597) 45%,rgba(151, 172, 255, 0.597) 135%); 
    }