.about{
    background-color: red;
    height: 100vh;
    background-image: url('https://my.spline.design/3dtextbluecopy-c2822aaa73c649bad48219dae8c7a52c/');
}

// .slideshow-container {
//     max-width: 100%;
//     position: relative;
    
//   }
//   .mySlides 
//   {display: none}