.window{
  
    display:flex;
    flex-direction:column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    position: absolute;
    top:20%;
    left: 5%;
    z-index: 1000;
    display: none;
    
  
  &__winhead{
    height:35px;
    background:rgb(244,244,244);
    border-bottom:0.5px solid rgba(162,163,164,.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:flex;
    align-items:center;
    position: relative;
  
  &__btn{
    display:flex;
    align-items:center;
    z-index:9;
  
    
  &--close{
    width:12px;
    height:12px;
    margin-left:6px;
   
    border-radius:50%;
    background:rgb(231,69,70);
    border:0.5px solid rgb(208,67,67);
  }
  &--min{
     width:12px;
    height:12px;
    margin-left:6px;
   
    border-radius:50%;
    background:rgb(246,180,39);
    border:0.5px solid rgb(212,154,58);
  }
  &--max{
    width:12px;
    height:12px;
    margin-left:6px;
   
    border-radius:50%;
    border:0.5px solid rgb(104, 248, 64);
    background:rgb(86,202,53);
  }
}
  &__title{
    position: absolute;
    width:100%;
    text-align:center;
  }
}
  &__winbody{
    height:100%;
    width: 100%;
    background:rgb(231,231,231);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    display: flex;
    &__title {
      
      width: 100%;
      
    align-self: center;
      transform: translateY(-50px);
      color: black;
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: 10px;
      margin-top: -5%;
      margin-left: 10%;
      
    span {
     
    
        display: inline-block; 
         color: yellow;
        font-size: 7rem;
      //  background-color: orange;
       // color: #efefef;
        width: 100%;
        text-transform: uppercase;
        transform: translateX(-100%);
        animation: byBottom 1s ease both;
        font-weight: 600;
        letter-spacing: 0.25vw;
      } 
       span:last-child {
        font-size: 2rem;
        padding:3rem 0;
        margin-top: -3rem;
      
     
       // background-color: red;
        animation: byBottom 1s 0.25s ease both;
      } 
       span a {
        position: relative;
        display: inline-block;
        margin-left: 0.5rem;
        text-decoration: none;
        //color: #f7ca18;
        color: red;
      }
       span a::after {
        content: "";
        height: 2px;
        background-color: #f7ca18;
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 0;
        animation: linkAfter 0.5s 1s ease both;
      }
     span h3{
        color: black;
      }
    } 
    //  h1{
    //  // color: light gray;
    //  color: black;
    // }
  
    
    
  }
} 
   .window2{
    width: 90%;
 height: 45rem;
    display:flex;
    flex-direction:column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius:5px;
    position: absolute;
    top:29%;
    left: 5%;
    z-index: 1000;
    display: none;
    
  
  &__winhead{
    height:35px;
    background:rgb(244,244,244);
    border-bottom:0.5px solid rgba(162,163,164,.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:flex;
    align-items:center;
    position: relative;
  
  &__btn{
    display:flex;
    align-items:center;
    z-index:9;
  
    
  &--close{
    width:12px;
    height:12px;
    margin-left:6px;
   
    border-radius:50%;
    background:rgb(231,69,70);
    border:0.5px solid rgb(208,67,67);
  }
  &--min{
     width:12px;
    height:12px;
    margin-left:6px;
   
    border-radius:50%;
    background:rgb(246,180,39);
    border:0.5px solid rgb(212,154,58);
  }
  &--max{
    width:12px;
    height:12px;
    margin-left:6px;
   
    border-radius:50%;
    border:0.5px solid rgb(104, 248, 64);
    background:rgb(86,202,53);
  }
}
  &__title{
    position: absolute;
    width:100%;
    text-align:center;
  }
}
  &__winbody{
    height:100%;
    background:rgb(231,231,231);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height:300px;
    text-align:center;
  }
}

.window3{
  width: 90%;
 height: 45rem;
  display:flex;
  flex-direction:column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius:5px;
  position: absolute;
  top:35%;
  left: 5%;
  z-index: 1000;
  display: none;
  

&__winhead{
  height:35px;
  background:rgb(244,244,244);
  border-bottom:0.5px solid rgba(162,163,164,.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display:flex;
  align-items:center;
  position: relative;

&__btn{
  display:flex;
  align-items:center;
  z-index:9;

  
&--close{
  width:12px;
  height:12px;
  margin-left:6px;
 
  border-radius:50%;
  background:rgb(231,69,70);
  border:0.5px solid rgb(208,67,67);
}
&--min{
   width:12px;
  height:12px;
  margin-left:6px;
 
  border-radius:50%;
  background:rgb(246,180,39);
  border:0.5px solid rgb(212,154,58);
}
&--max{
  width:12px;
  height:12px;
  margin-left:6px;
 
  border-radius:50%;
  border:0.5px solid rgb(104, 248, 64);
  background:rgb(86,202,53);
}
}
&__title{
  position: absolute;
  width:100%;
  text-align:center;
}
}
&__winbody{
  height:100%;
  background:rgb(231,231,231);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height:300px;
  text-align:center;
}
}

.max{
  display:block;
  width:90%;
height:50rem;
  position:absolute;
  top:15%;
  left:5%;
  
   z-index: 1000;
}
.openFolder{
  display:block;
  width:90%;
height:80vh;
  position:absolute;
  top:15%;
  z-index: 1000;
  left:5%;
}
.min{
  width: 45%;
  height: 30rem;
  position: absolute;
  display: block;
  top:25%;
    left: 20%;
  z-index: 1000;
  // animation: window12 .5s ease-in;
}
.min2{
  width: 45%;
  height: 30rem;
    position: absolute;
    display: block;
    top:30%;
    left: 20%;
    z-index: 1000;
    //animation: window12 .5s ease-in;
  }
  .min3{
    width: 45%;
    height: 30rem;
      position: absolute;
      display: block;
      top:35%;
    left: 20%;
      z-index: 1000;

     
    }

.hide{
  display: none;
}
// .show{
//   display: block;
// }
#mainWindow.custom-state-active {
 background: #eee; }

