@keyframes moveInBack {
  0% {
    opacity: 0;
    transform: rotateX(100deg) translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
  }
}
@keyframes header {
  0% {
   transform: scale(0.4);
   
  }



 
  100% {
   transform: scale(1);
  }
}
@keyframes mini{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes headerRotate{
    0%{
        transform:rotateX(2deg)
    }
    100%{
        transform:rotateX(-2deg)
    }
}


@keyframes widgets{
    0%{
        
        transform:translateY(-20rem);
        
    }
    100%{
      
        transform:translateY(0);
    }
}

//navbar animation

@keyframes moveOut{
  0%{
    opacity: 0;
    transform: scaleX(0)
  }
  100%{
    opacity: 1;
 transform: scaleX(1);
 //background-color: orangered;
  }
}

//section-about
@keyframes moveInUp{
  0%{
    opacity: 0;
    transform: translateY(-50rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0rem);
  }
}
//for navigation

//widget animation for mobile

@keyframes widgets_mob{
  0%{
      
      transform:translateY(-20rem);
      
  }
  100%{
    
      transform:translateY(0);
  }
}


@keyframes header__mob{
  0% {
    opacity: 0;
    transform: translateX(-150rem);
  }
 
 
  100% {
    opacity: 1;
    transform: translateX(0) 
  }

}
//when scrolling occurs
// @keyframes rotateAbout{
//   0%{
//     transform: rotateY(-15deg);
//   }
//   100%{
//     transform: rotateY(15deg);
//   }
// }
// @keyframes hello{
//   0%{
//     opacity: 0;
//     transform: translateY(30rem)scale(1);
//   }
//   50%{
//     opacity: .5;
// transform: translateY(0) scale(1.1);
//   }
//   100%{
//    transform: translate(0) scale(1);
//    opacity: 1;
//   }
// }
//text message
@keyframes textMessage{

  0%{
 
    filter: blur(5px);
  }
  100%{
    filter: blur(0);
  }

}
@keyframes window12{

  0%{
transform: translate(-200%,-250%) ;
opacity: 1;

  }
  100%{
    transform: translate(0,0);
    opacity: 0;
  }

}
@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}
@keyframes imageblowing {
  0% {
  transform: rotateX(5deg);
  }
  100% {
    transform: rotateX(-5deg);
  }
}

@keyframes textBouncing {
  0% {
  transform: translateY(-10rem);
  opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes iconRotate {
  0% {
  transform: scale(1.1) rotate(360deg);
  
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}