body{
    font-family: dune-rise;
  
  
    // overflow: hidden;
    // position: relative;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { width: 0 !important }
// }
}
.heading{
    &__primary{
        font-size: 9.4rem;
        
        font-weight: 300;
        padding-bottom: 1rem;
        animation: moveInBack 1s linear;
        transform-origin: top;
    // &::before{
    //     content:'Parag chauhan';
    //     transform:rotateX(-60deg);
    //     filter:blur(5px);
    //     transition:all 1s;
    //     transform-origin: bottom;
    //     font-size: 8rem;
    //     font-weight: 300;
    //     position: absolute;
    //     padding-bottom: 1rem;
    //     z-index:-1;

      
     
    }

    &__tertiary{
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 700;
        animation: moveInBack 1s linear;
        transform-origin: top;
        letter-spacing:1.5px;
    }
}