//navigation
.navigation{
    display: none;
    animation: nav 1.25s linear .5s ;
    z-index: 100000;
}

//section_about
.section-about{
   display: none;

   background-size: 100% 100vh;
   background-image:linear-gradient( to bottom, rgba(23, 60, 162, 0.597) 45%,rgba(151, 172, 255, 0.597) 135%); 
   position: fixed;
}