//navigation
.navigation{
    display: none;
    animation: nav 1.25s linear .5s ;
    z-index: 100000;
}


//section-about
.section-about{
    height: 94vh;
    margin-top: 2rem;
    margin-left: 2rem;
   top: 0%;
   left: 0%;
  //overflow: hidden;
   
 position: absolute;
 display: none;
//  overflow: hidden;

width: 97.2%;
    background-color:#967bb6;
  
   border-radius: 15px;
  
   
}